.ticket {
    position: relative;
    top: 55px;
    left: 200px;
    background-color: var(--body2-color);
    min-height: 120vh;
    width: 85.9%;
    padding: 30px 25px;
    z-index: 1;
    transition: var(--tran-05);
}

.ticket-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding-top:10px ; */
    transition: var(--tran-05);
    animation: load 600ms ease-in 1 forwards;
}

.bx-chevron-right {
    color: gainsboro;
    transition: var(--tran-05);

}

body.dark .bx-chevron-right {
    color: rgb(96, 96, 96);
}

.ticket-icon .bx-home-alt,
.ticket-icon p {
    color: rgb(96, 96, 96);
    transition: var(--tran-05);

}

body.dark .ticket-icon .bx-home-alt,
body.dark .ticket-icon p {
    color: gainsboro;
}

.ticket .text {
    padding-top: 10px;
    /* padding-bottom: 5px; */
    font-size: 30px;
    color: var(--text-color);
    transition: var(--tran-05);
    font-weight: 400;
    animation: load 600ms ease-in 1 forwards;

}

.divSubject {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    animation: load 900ms ease-in 1 300ms forwards;
    opacity: 0;
}

.divDiscription {
    position: relative;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    animation: load 900ms ease-in 1 500ms forwards;
    opacity: 0;
}

.divBrand {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    animation: load 900ms ease-in 1 800ms forwards;
    opacity: 0;
    z-index: 2;
}

.divModule {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    animation: load 900ms ease-in 1 900ms forwards;
    opacity: 0;
    z-index: 1;

}

.line1,
.line2,
.line3,
.line4 {
    /* margin-bottom: 15px; */
    border: 1px solid #e6eaebec;
}

.line1 {
    animation: load 900ms ease-in 1 500ms forwards;
    opacity: 0;
}

.line2 {
    animation: load 900ms ease-in 1 800ms forwards;
    opacity: 0;
}

.line3 {
    animation: load 900ms ease-in 1 1s forwards;
    opacity: 0;
}

.line4 {
    animation: load 900ms ease-in 1 1.1s forwards;
    opacity: 0;
}

.box {
    position: relative;
    height: 45px;
    max-width: 475px;
    width: 100%;
    left: 270px;
}

.box-title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-title .title {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}

.box-title .subb-title {
    font-size: 14px;
    color: #676666;
}

.box input {
    /* position: absolute; */
    border-radius: 10px;
    border: 2px solid #e6eaebec;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
    background-color: var(--sidebar-color);
    padding: 0 1px 0 10px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    /* outline: none; */
    outline-color: #3783ed;
    color: var(--text-color);
    /* transition: var(--tran-05); */
    background: var(--sidebar-color);
}

.box-textarea {
    position: relative;
    /* height: 200px; */
    max-width: 475px;
    width: 100%;
    left: 125px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box-textarea textarea {
    position: relative;
    border-radius: 8px;
    border: 2px solid #e6eaebec;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
    background-color: var(--sidebar-color);
    padding: 15px 0px 0px 10px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    outline-color: #3783ed;
    color: var(--text-color);
    /* transition: var(--tran-05) */
}

/* Common Styles for Select Menus */
.select-menu {
    width: 475px;
    margin-left: 136px;
}

.select-menu2 {
    width: 474px;
    margin-left: 140px;
}


/* Button Styles for Select Menus */
.select-menu .select-btn,
.select-menu2 .select-btn2 {
    display: flex;
    height: 45px;
    background-color: var(--sidebar-color);
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border: 2px solid #e6eaebec;
}

/* Text Styles inside Buttons */
.select-menu .sBtn-text,
.select-menu2 .sBtn-text2 {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
}

/* Icon Styles inside Buttons */
.select-btn i,
.select-btn2 i {
    font-size: 25px;
    transition: 0.3s;
    color: var(--text-color);
}

/* Rotate Icon on Active State */
.select-menu.active .select-btn i,
.select-menu2.active2 .select-btn2 i {
    transform: rotate(-180deg);
}

/* Options Container Styles */
.select-menu .options,
.select-menu2 .options2 {
    position: absolute;
    border-radius: 8px;
    margin-top: 0px;
    border: 2px solid #e6eaebec;
    display: none;
    animation: dropUp 500ms linear 1 forwards;
}

/* Display Options on Active State */
.select-menu.active .options,
.select-menu2.active2 .options2 {
    display: block;
    background: var(--sidebar-color);
    animation: dropDown 200ms linear 1 forwards;
}

.select-menu.drop-up .options,
.select-menu2.drop-up2 .options2 {
    display: block;
    background: var(--sidebar-color);
    animation: dropUp 200ms ease-in-out 1 forwards;
}

/* Option Item Styles */
.options .option,
.options2 .option2 {
    display: flex;
    height: 55px;
    width: 472px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2%;
    align-items: center;
}

/* Hover Effect for Options */
.options .option:hover,
.options2 .option2:hover {
    background: #3783ed2d;
}

/* Image inside Options */
.option img {
    width: 60px;
    margin-right: 12px;
    border-radius: 5px;
}

/* Text inside Options */
.option .option-text,
.option2 .option-text2 {
    font-size: 14px;
    color: var(--text-color);
}


.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    position: static;
    padding-right: 150px;
    animation: load-btn 800ms ease-in 1 1s forwards;
    opacity: 0;
    padding-top: 20px;
}

.buttons button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.168); */
    /* margin-top: -30px; */
    font-weight: 400;
    transition: var(--tran-05);

}

.buttons .cancel {
    background-color: var(--sidebar-color);
    margin-right: 10px;
    color: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 8px 10px;
    cursor: pointer;
}

body.dark .buttons .cancel,
body.dark .buttons .save {
    border: 1px solid rgb(74, 73, 73);

}

.buttons .save {
    position: relative;
    background-color: #3783ed;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.068);
    cursor: pointer;
    /* font-size: 10px; */
    /* padding: 8px 10px; */
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .save:hover {
    background-color: #3073d0;

}

.buttons .save:active {
    background-color: #24569d;

}

.iconn {
    width: 30px;
    height: 20px;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 40px;
    height: 20px; */
    width: 32.5px;
    height: 20px;
    padding: 0px 6px;
    opacity: 0;
    animation: dropDown-btn 100ms linear 1 forwards;

}

.spin .iconn.circle {
    pointer-events: none;
    width: 22px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #24569d1b;
    border-radius: 50%;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.iconn.check {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    /* padding: 0px 6px; */
    width: 32.5px;
    height: 20px;
    animation: dropDown-btn 100ms linear 1 forwards;

}

@keyframes load {
    0% {
        margin-left: 100px;
        opacity: 0;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }

}


@keyframes dropDown {
    0% {
        margin-top: 0px;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        margin-top: 10px;
        opacity: 1;
    }
}

@keyframes dropUp {
    0% {
        margin-top: 10px;
        opacity: 1;
    }

    100% {
        margin-top: -5px;
        display: none;
        opacity: 0;
    }
}


@keyframes load-btn {
    0% {
        padding-right: 50px;
        opacity: 0;
    }

    100% {
        padding-right: 140px;
        opacity: 1;

    }

}

@keyframes dropDown-btn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}